@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.button {
  width: 99%;
  height: 52px;
  background: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  border-color: #fff;
  &:hover {
    cursor: pointer;
  }

  @media only screen and (min-width : 768px) {
    width: 200px;
  }

  &--remove {
    border: none;
  }

  &--submit {
    background: #fff;
    color: #4c4c4c
  }

  &--disabled {
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }
}
