.form-row {
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 20px 0 30px 0;
  &:last-of-type {
    border: 0;
  }

  &--button-container {
    float: left;
    width: 100%;
    text-align: center;
    padding: 52px 0 0 0;

    @media only screen and (min-width : 480px) {
      width: 48%;
    }

    @media only screen and (min-width : 768px) {
      padding: 37px 0 0 0;
      width: 23%;
    }
  }
}
