.label-input {
  float: left;
  width: 100%;
  padding: 0 2% 0 0;
  &:nth-child(n+2) {
    padding-top: 15px;
  }

  @media only screen and (min-width : 480px) {
    width: 48%;
  }

  @media only screen and (min-width : 768px) {
    width: 23%;
    &:nth-child(n+2) {
      padding-top: 0;
    }
  }

  &__label {
    float: left;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding: 0 0 15px 0;
    width: 100%
  }

  &__input {
    clear:left;
    float: left;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #b06063;
    padding: 15px 20px;
    width: 85%
  }
}
