.page-header {
  color: #fff;

  &__heading {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    @media only screen and (min-width : 768px) {
      text-align: left;
    }
    @media only screen and (min-width : 1260px) {
      width: 470px;
      text-align: left;
    }
  }

  &__body {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    @media only screen and (min-width : 768px) {
      text-align: left;
      width: 470px;
    }
    @media only screen and (min-width : 1260px) {
      width: 470px;
    }
  }
}
