@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.page {
  background-color: #e9474b;
  font-family: "roboto";
}

.page-container {
  margin: 0 auto;
  width: 100%;

  // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  //   width: 100%;
  // }

  @media only screen and (min-width : 1260px) {
    width: 1260px;
  }
}
